<div class="container">
    <h1 class="form-signin-heading">Baeldung: Keycloak &amp; Spring Boot</h1>
    <p>Welcome to a Thymeleaf UI served by Spring Boot and secured using Keycloak!</p>
    <div th:if="${!isAuthenticated}">
        <a href="/oauth2/authorization/keycloak">
            <button type="button"
                    class="btn btn-lg btn-primary btn-block">Login
            </button>
        </a>
    </div>
    <div th:if="${isAuthenticated}">
        <p>Hi <span th:utext="${name}">..!..</span>!</p>
        <a href="/logout">
            <button type="button" class="btn btn-lg btn-primary">Logout</button>
        </a>
        <a th:if="${isNice}" href="/nice">
            <button type="button" class="btn btn-lg btn-primary">Browse to NICE users page</button>
        </a>
    </div>
</div>